/*-------------------------------------------------Root-------------------------------------------------*/
:root{
    /*Root colors*/
    --color-orange-crayola: #ff6b35; /*(title / heading) */
    --color-peach: #f7c59f; /*(background)*/
    --color-beige: #efefd0; /*(background)*/
    --color-polynesian-blue: #004e89; /*(Navigation bar)*/
    --color-lapis-lazuli: #1a659e; /*(text)*/     
    --color-button: #FE938C;/*sotf pink*/ 
    --color-button-hover: #9CAFB7;/*muteded blue*/
    --color-gray: gray;
    --color-lightgray: lightgray;

    /*System screen size*/
    --font-title:3rem;
    --font-subsitle:2rem;
    --font-paragraph:1rem;
    --font-button-link:1.2rem;

    /* Mobile/tab Screen size*/
    --font-titles:2rem;
    --font-subsitles:1rem;
    --font-paragraphs:0.5rem;
    --font-button-links:0.9rem;

}

/*--------------------------------------------------Reset & Base--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p{
    font-size: var(--font-paragraph);
}

button{
    font-size: var(--font-button-link);
    padding: 10px 25px;
    border-radius: 50px;
    color: var(--color-beige) !important;
    background-color: var(--color-button);
    box-shadow: 0px 1px 2px #bebebe;
    border: none;
    width: fit-content;
    cursor: pointer;
}

button:hover{
    transition: 0.5s;
    color: var(--color-peach);
    background-color: var(--color-button-hover);
}

@media screen and (max-width: 1007px){
    button{
        font-size: var(--font-button-links);
        padding: 7px 20px;
    }
}

/*--------------------------------------------------Navigation--------------------------------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    overflow-x: scroll;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    list-style: none;
    text-decoration: none;
    gap: 30px;
}

.nav-links li {
    padding: 0;
}

.nav-links a {
    color: var(--color-polynesian-blue);
    text-decoration: none;
    font-size: var(--font-button-link);
}

.nav-links a:hover {
    color: var(--color-peach);
    text-decoration: overline 1px;
    text-underline-offset: 4px;
}

.nav-links a:active {
    color: var(--color-peach);
    text-decoration: overline 1px;
    text-underline-offset: 4px;
}

/* Home Section */
#home{
    background-image: url(./2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 300px;
    height: 90vh;
    margin-right: 5%;
    margin-left: 5%;
}

.home{
    text-align: right;
    padding-top: 15%;
    padding-right: 150px;
}

.home-head{
    font-size: 70px;
    line-height: 60px;
    overflow-y: hidden;
}

.home-txt{
    line-height: 30px;
    margin-top: 20px;
    color: var(--color-lightgray);
}

.home-btn{    
    margin-top: 20px;
}

.home-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
}

@media screen and (max-width: 640px){
    #home{
        margin-right: 1%;     
        border-bottom-right-radius: 150px;
    }
}

@media screen and (max-width: 1007px){
    #home{        
        height: 80vh;
        margin-right: 2%;        
        border-bottom-right-radius: 200px;
    }

    .home{
        padding-right: 85px;
    }
}

/*--------------------------------------------------pets--------------------------------------------------*/
#pets {
  text-align: center;
}

#pets h1 {
  font-size: var(--font-title);
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--color-orange-crayola);
}

#pets p{
    color: var(--color-lapis-lazuli);
}

.pets-img {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}

/* Dashed line connecting the circles */
.pets-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  border-top: 2px dashed #bbb;
  z-index: 0;
}

.pet {
  position: relative;
  text-align: center;
  z-index: 1;
}

.pet h4{
    font-size: var(--font-paragraph);
}

.pet img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 2px;
}

.pet img:hover {    
    transition: transform 0.5s ease-in-out;    
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-width: 640px){
    .pet img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 1007px){
    #pets h1 {
        font-size: var(--font-titles);
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    #pets p{
        margin: auto 5%;
    }

    .pet img {
        width: 70px;
        height: 70px;
    }

    .pet h4{
        font-size: var(--font-paragraphs);
    }
}

/*--------------------------------------------------Care--------------------------------------------------*/
#care{
    display: flex;
    margin-top: 5rem;
    margin-left: 0%;
}

.cares{
    display: flex;
    background-color: var(--color-beige);
    width: 900px;
    border-bottom-right-radius: 170px;
    border-top-right-radius: 370px;
    height: fit-content;
    padding-right: 50px;
}

.care-img1{
    align-self: flex-end;
    height: 350px;
    width: 350px;
    padding: 0% !important;
    margin: 0%  !important;
}

.care-content{
    display: flex;
    flex-direction: column;
    padding: 30px 80px 30px 40px;
}

.care-content h2{
    font-size: var(--font-title);
    padding-bottom: 10px;
}

.care-content h4{
    padding-bottom: 15px;
}

.care-content p{
    padding-bottom: 20px;
}

.care-content li{
    padding-bottom: 10px;
    list-style-type: none;
}

.care-img2{
    height: 430px;
    width: 350px;
    align-self: flex-end;
}

@media screen and (max-width: 640px){
    .care-img1{
        height: 100px;
        width: 80px !important;
    }

    .care-content{
        padding: 0px;
        padding-right: 0% !important;
    }

    .cares{
        width: 400px;        
        border-bottom-right-radius: 100px;
        border-top-right-radius: 140px;        
        padding-right: 0px;
    }

    .care-img2{
        height: 300px;
        width: 110px !important;
    }
}

@media screen and (max-width: 1007px){
    .care{
        width: 200px;
    }

    .care-img1{
        height: 200px;
        width: 400px;
    }

    .care-content{
        padding: 15px 40px 15px 10px;
    }

    .care-content h2{
        font-size: var(--font-titles);
        padding-bottom: 5px;
    }
    
    .care-content h4{
        padding-bottom: 10px;
    }
    
    .care-content p{
        font-size: var(--font-subsitles);
        padding-bottom: 10px;
    }
    
    .care-content li{
        font-size: var(--font-paragraphs);
        padding-bottom: 5px;
    }

    .care-content buttonn{
        font-size: var(--font-button-links);
    }

    .care-img2{
        height: 300px;
        width: 200px;
    }
}

/*--------------------------------------------------Services--------------------------------------------------*/
#service{
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    padding-left: 5%;
    background-image: url(./3.jpg);
}

.service-txt {
    width: 700px;
    margin-right: 100px;
    margin-top: 5rem;
}

.service-txt h1{
    font-size: var(--font-title);
    color: var(--color-orange-crayola);
}

.service-txt h2{
    margin-top: 10px;
    color: var(--color-lapis-lazuli);
}

.service-txt p{
    margin-top: 1rem;
    font-size: var(--font-paragraph);
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service1 i,.service4 i{
    color: var(--color-beige);
    background-color: var(--color-button-hover);
    border-radius: 50%;
}

.service2 i,.service3 i{
    color: var(--color-beige);
    background-color: var(--color-button);
    border-radius: 50%;
}

.services h2{
    color: var(--color-polynesian-blue);
    font-size: var(--font-button-link);
    padding-bottom: 10px;
}

.service1,.service2,.service3,.service4{
    height: 250px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 2px 2px white;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 1rem;
    transform: skew(-8deg);
    cursor: pointer;
}

.service1:hover, .service2:hover, .service3:hover, .service4:hover{
    transition: transform 0.5s ease-in-out; 
    transform: skew(-7deg);
}

.service1 p,.service2 p,.service3 p,.service4 p{
    line-height: 25px;
    font-size: var(--font-paragraph);
}

@media screen and (max-width: 640px){
    .service1,.service2,.service3,.service4{
        height: fit-content !important;
        width: fit-content !important;
    }
}

@media screen and (max-width: 1007px){
    #service{
        display: block;
        margin-top: 2rem;
        padding: auto;
        text-align: center !important;
    }

    .service-txt {
        text-align: center !important;
        width: auto;
        margin-top: 1rem;
        padding: auto;
    }

    .service-txt button{
        margin-top: 15px;
    }

    .service-txt h1{
        font-size: var(--font-titles);
    }

    .services h2{
        font-size: var(--font-button-links);
    }

    .service-txt p{
        font-size: var(--font-paragraphs);
    }

    .service1 p,.service2 p,.service3 p,.service4 p{
        font-size: var(--font-paragraphs);
    }

    .service1,.service2,.service3,.service4{
        height: 200px;
        width: 250px;
    }
}

/*--------------------------------------------------Products--------------------------------------------------*/
#product{
    margin: 5% 10%;
}

.products h1{
    font-size: var(--font-title);
    color: var(--color-orange-crayola);
}

.product-imgs{
    display: flex; 
    width: 700px; 
    height: 350px;
    overflow-y: hidden;
    overflow-x: scroll !important;
}

.product-imgs img{
    padding: 30px 10px;
    height: 200px;
    width: 200px; 
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.product-box {
    box-shadow: 0px 5px 7px lightgray;
    margin: 15px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.product-box:hover img{
    opacity: 0.3;
}

.product-box:hover{
    transition: transform 0.5s ease-in-out;    
    transform: scale(1.02);
    cursor: pointer;
}

.product-box button{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    font-size: medium;
}

.product-box:hover button{
    opacity: 1;
}

.offer img{
    margin-top: 40px;
    margin-left: 40px;
    height: 350px;
    width: 230px;
}

@media screen and (max-width: 640px){
    .product-imgs{
        width: 240px !important; 
        height: 300px; 
    }
    
    .product-imgs img{
        padding: 20px 10px;
        height: 200px;
        width: 200px;
    }

    .offer img{
        margin-left: 10px !important;
        height: 350px;
        width: 200px !important;
    }
}

@media screen and (max-width: 1007px){
    #product{
        margin: 5% 7%;
    }
    
    .products h1{
        font-size: var(--font-titles);
    }

    .products p{
        padding-top: 20px;
        font-size: var(--font-subsitles);
    }

    .product-imgs{
        width: 450px; 
        height: 300px; 
    }
    
    .product-imgs img{
        padding: 20px 5px;
        height: 200px;
        width: 200px;
    }

    .offer img{
        margin-left: 40px;
        height: 350px;
        width: 270px;
    }
}

/*--------------------------------------------------Products--------------------------------------------------*/
#team{
    text-align: center;
}

#team h1{
    font-size: var(--font-title);
    color: var(--color-orange-crayola);
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 2%;
}

.member {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 2px lightgray;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

/* Overlay info */
.member-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.member-info h2 {
  margin: 0;
  color: #1a659e;
  font-size: var(--font-subsitle);
}

.member-info p {
  margin-bottom: 15px;
  font-size: var(--font-paragraph);
}

/* Social icons - fixed at the bottom */
.member-info div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-peach);
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 7px 0;
  border-radius: 0 0 20px 20px;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(30px);
}

.member-info div a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.member-info div a:hover {
  transform: scale(1.2);
}

/* Hover effects */
.member:hover img {
  opacity: 0.3;
}

.member:hover .member-info {
  opacity: 1;
}

.member:hover .member-info div {
  opacity: 1;
  transform: translateY(0);
}

.member:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 640px){
    .team-members {
      gap: 20px !important;
    }

    .member {
      width: 150px !important;
      height: 200px;
    }
}

@media screen and (max-width: 1007px){
    #team h1{
        font-size: var(--font-titles);
    }

    .team-members {
      gap: 25px;
    }

    .member {
      width: 200px;
      height: 250px;
    }

    .member-info h2 {
      font-size: var(--font-subsitles);
    }
    
    .member-info p {
      font-size: var(--font-paragraphs);
    }
}

#counts{
    background-image: url(./10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.count1,.count2,.count3,.count4{
    color: aliceblue;
    padding: 90px 50px;
}

#clients {
  margin-top: 5%;
  padding: 30px 100px;
  background-image: url(./11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#clients h1 {
  color: #141414;
  margin-bottom: 10px;
}

#clients p {
  color: #333;
}

.client-box {
  width: 400px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.client-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--color-button-hover);
  padding: 5px;
}

.client-box h1 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #141414;
}

/* --- Custom indicator bar style (like your image) --- */
.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators [data-bs-target] {
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  background-color: #fff;
  width: 60px;
}


#details{
    display: flex;
    background-image: url(.);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    align-items: center;
    margin-top: 40px;
    padding: 50px 250px;
}

.about{
    width: 400px;
    margin: auto 20px;
}

.gallery{
    width: 450px;
    margin: auto 20px;
}

.gallery img{
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

.contact{
    width: 300px;
    margin: auto 20px;
}

footer{
    display: flex;
    padding: 20px 1px;
    justify-content: center;
    color: white;
    position: static;
}

footer p{
    margin-right: 20%;
}

footer ul{
    display: flex;
}

footer li{    
    list-style-type: none;
}

footer a{
    margin: auto 15px;
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: var(--color-beige);
    text-decoration: underline;
    font-weight: bold;
}
